.icon {
  cursor: pointer;
  background: none;
}

.icon:hover {
  filter: invert(41%) sepia(62%) saturate(7158%) hue-rotate(344deg)
    brightness(101%) contrast(108%);
}

.invertx {
  transform: scaleX(-1);
}
